<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Yaniv Ayalon - Personal Portfolio Website"/>
<meta name="keywords" content="Network , employees, israel ,jobs , ccna , python , developer"/>
<meta name="author" content="yaniv ayalon"/>
<title>
    {% block title %}
    {% endblock %}
</title>
<!--favicon-img-->
<link rel="icon" type="image/png" href="../static/images/favicon.png">
<!--favicon-img-->
<!--main css file should not be removed -->
<link rel="stylesheet" href="../static/css/index.css">
<!--main css file-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
